{% extends "base.html" %}

{% block title %}Dashboard{% endblock %}

{% block account_content %}
    <h1>Dashboard</h1>
    <p>Вітаємо в особистому кабінеті тут ви можете все</p>

    <div class="confirm_tours">
        {% for tour in confirm_tour %}
           Зареєстрований тур :  {{ tour }}
        {% empty %}
            <p>Ви ще не зареєстровані ні на один похід</p>
        {% endfor %}
    </div>

    <div class="tour_registration">
        <p>Записатися в похід</p>
        <div class="login-form">
            <form action="" method="post">
                {{ tour_registration_form.as_p }}
                {% csrf_token %}
                <p><input type="submit" value="Записатися"></p>
            </form>
        </div>
    </div>
    
    <div class="some">
         <p>You can also <a href="{% url "edit" %}">edit your profile</a> or
        <a href="{% url "password_change" %}">change your password</a>.<p>
    </div>
   
{% endblock %}