{% extends "account_base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block title %}З поверненням, {{ user.first_name|title }}! {% endblock %}

{% block account_content %}


    <div class="container my-5 py-5">
        <div class="row justify-content-center gy-3">
            <div class="col-md-7 col-sm-12 dashboard-background">
                <div class="confirm_tours">
                    <h2 class="text-center">Зарєстровані Маршрути</h2>
                    {% for tour in user_active_tour %}
                        <div class="confirm_tours_card">
                            <h3>{{ tour.active_route_id.routes_id.name }}</h3>
                            <p>{{ tour.active_route_id.start_day|date:"d.m" }}-{{ tour.active_route_id.stop_day|date:"d.m.Y" }}</p>
                            <p>Провідник: {{ tour.active_route_id.leader }}</p>
                            {% if tour.status %}
                                <p>Статус заявки : <span class="text-success">Підтверджено</span></p>
                            {% else %}
                                <p>Статус заявки : <span
                                        class="text-warning">Прийнято, очікуйте на підтвердження.</span></p>
                            {% endif %}
                        </div>
                    {% empty %}
                        <p>Ви ще не зареєстровані ні на один похід</p>
                    {% endfor %}
                </div>
                <div class="history_tour">
                    <h2 class="text-center">Історія сходжень</h2>
                    {% for tour in user_history_tour %}
                        <h3>{{ tour.active_route_id.routes_id.name }}</h3>
                        <p>{{ tour.active_route_id.start_day|date:"d.m" }}-{{ tour.active_route_id.stop_day|date:"d.m.Y" }}</p>
                        <p>Провідник: {{ tour.active_route_id.leader }}</p>
                    {% empty %}
                        <p>Ви ще не пройшли ні кілометру з нами</p>
                    {% endfor %}
                </div>

            </div>
            <div class="col-md-4 col-sm-12 dashboard-background">
                <div class="account_profile">
                    <div class="profile-detail">
                        <img class="img-fluid" src="{% if user.profile.photo %}
                            {{ user.profile.photo.url }}
                       {% else %}
                            {% static "images/avatar-1577909_960_720.webp" %}{% endif %}">
                        <p class="text-center">{{ user.first_name }} {{ user.last_name }}</p>
                        <p>Успішних маршрутів: {{ user_history_tour.count }}</p>
                        <p>Ранг користувача: {{ user.profile.user_rang }}</p>
                        <p>На сайті з {{ user.profile.date_of_registration|date:"d.m.Y" }}</p>
                    </div>
                </div>
                <div class="tour_registration mt-3">
                    <h3 class="text-center">Записатися в похід</h3>
                    <form action="" method="post" class="registration-form">
                        <label for="{{ tour_registration_form.id_for_label }}">Активні маршрути:</label>
                        {% render_field tour_registration_form.active_tours class+="form-select" %}
                        {% csrf_token %}
                        <button type="submit" class="btn btn-secondary w-100 mt-2">Записатися</button>
                    </form>
                </div>
                <div class="profile-btn mt-2">
                    <a class="btn btn-secondary href_register w-100 my-2" href="{% url "edit" %}">Редагувати профіль</a>
                    <a class="btn btn-secondary href_register w-100 " href="{% url "password_change" %}">Змінити
                        пароль</a>
                    <a class="btn btn-secondary href_register w-100 my-2" href="{% url "logout" %}">Вийти</a>
                </div>
            </div>
        </div>
    </div>


{% endblock %}