
*, *::after, *::before {
  box-sizing: border-box;
}

main {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden;
  font: 400 16px $font;
}

.perspective-container {
  perspective: 400px;
}

.main {
  will-change: transform, opacity;
  transition: transform .7s, background-color .4s;
  transform: translate3d(0, 0, 0) rotateY(0deg) rotateZ(360deg);
  transform-style: preserve-3d;
  position: relative;
  backface-visibility: hidden;
  pointer-events: auto;
  height: 100vh;
  overflow-x: hidden;
}

.main-rotate {
  will-change: transform, opacity;
  transform: translate3d(100px, 0, -400px) rotateY(-20deg) rotateZ(360deg);
  transition: transform .7s, background-color .4s;
  background-color: rgba($green-color-dark, 0.3);
  backface-visibility: hidden;
  pointer-events: none;
  overflow: hidden;
  .spin {
    animation-play-state: paused
  }

}


body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url("../images/banner-bg.jpg") fixed center / cover;
  backface-visibility: hidden;
}

header {

}

h1 {

}
h2 {

}
h3 {

}

ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
