@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700,900&subset=cyrillic");
@import url("https://fonts.googleapis.com/css?family=Arsenal:700&display=swap&subset=cyrillic");
/* line 5, carpatianknights/news/static/scss/base/_base.scss */
.App {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0; }

/* line 11, carpatianknights/news/static/scss/base/_base.scss */
*, *::after, *::before {
  box-sizing: border-box; }

/* line 15, carpatianknights/news/static/scss/base/_base.scss */
main {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  overflow: auto;
  overflow-x: hidden; }

/* line 24, carpatianknights/news/static/scss/base/_base.scss */
.perspective-container {
  perspective: 400px; }

/* line 28, carpatianknights/news/static/scss/base/_base.scss */
.main {
  will-change: transform, opacity;
  transition: transform .7s, background-color .4s;
  transform: translate3d(0, 0, 0) rotateY(0deg) rotateZ(360deg);
  transform-style: preserve-3d;
  position: relative;
  backface-visibility: hidden;
  pointer-events: auto;
  height: 100vh;
  overflow-x: hidden; }

/* line 40, carpatianknights/news/static/scss/base/_base.scss */
.main-rotate {
  will-change: transform, opacity;
  transform: translate3d(100px, 0, -400px) rotateY(-20deg) rotateZ(360deg);
  transition: transform .7s, background-color .4s;
  background-color: rgba(0, 58, 39, 0.3);
  backface-visibility: hidden;
  pointer-events: none;
  overflow: hidden; }
  /* line 48, carpatianknights/news/static/scss/base/_base.scss */
  .main-rotate .spin {
    animation-play-state: paused; }

/* line 55, carpatianknights/news/static/scss/base/_base.scss */
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  background: url("/static/images/banner-bg.jpg") fixed center/cover;
  backface-visibility: hidden; }

/* line 64, carpatianknights/news/static/scss/base/_base.scss */
header {
  position: absolute;
  top: 15px;
  right: 0;
  left: 0;
  margin: 0 auto;
  text-align: center; }

/* line 83, carpatianknights/news/static/scss/base/_base.scss */
h1 {
  color: white;
  letter-spacing: 2px;
  font-family: Dancing Script, sans-serif; }

/* line 88, carpatianknights/news/static/scss/base/_base.scss */
h2 {
  font-family: Montserrat, sans-serif; }

/* line 91, carpatianknights/news/static/scss/base/_base.scss */
h3 {
  font-size: 24px; }

/* line 95, carpatianknights/news/static/scss/base/_base.scss */
ul {
  margin: 0;
  padding: 0; }

/* line 99, carpatianknights/news/static/scss/base/_base.scss */
li {
  list-style: none; }

/* line 103, carpatianknights/news/static/scss/base/_base.scss */
.p-black {
  color: #404040; }

/* line 106, carpatianknights/news/static/scss/base/_base.scss */
.p-white {
  color: #e0e0e0; }

/* line 110, carpatianknights/news/static/scss/base/_base.scss */
button {
  width: 75px;
  height: 50px;
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white; }

/* line 122, carpatianknights/news/static/scss/base/_base.scss */
pre {
  white-space: pre-wrap; }

/* line 2, carpatianknights/news/static/scss/layouts/_l-footer.scss */
footer {
  position: relative;
  bottom: 0;
  width: 100vw;
  height: 10vh;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-content: center;
  z-index: 10; }
  /* line 12, carpatianknights/news/static/scss/layouts/_l-footer.scss */
  footer ::before {
    content: '';
    position: absolute;
    top: -5vh;
    left: 0;
    border-top: 5vh solid transparent;
    border-right: 100vw solid #292929; }
  /* line 20, carpatianknights/news/static/scss/layouts/_l-footer.scss */
  footer p {
    color: white; }

/* line 3, carpatianknights/news/static/scss/modules/_m-page-headers.scss */
.headers-container {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: #292929;
  display: flex;
  justify-content: center;
  align-content: center; }
  /* line 11, carpatianknights/news/static/scss/modules/_m-page-headers.scss */
  .headers-container ::after {
    content: '';
    position: absolute;
    bottom: -5vh;
    left: 0;
    border-bottom: 5vh solid transparent;
    border-left: 100vw solid #292929; }
  /* line 19, carpatianknights/news/static/scss/modules/_m-page-headers.scss */
  .headers-container h2 {
    color: white; }

/* line 1, carpatianknights/news/static/scss/modules/_m-navigation.scss */
.side-menu {
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  position: fixed;
  transition: all 0.5s ease-in-out;
  z-index: 100; }
  @media screen and (max-width: 480px) {
    /* line 1, carpatianknights/news/static/scss/modules/_m-navigation.scss */
    .side-menu {
      left: -100vw;
      width: 100vw; } }
  /* line 16, carpatianknights/news/static/scss/modules/_m-navigation.scss */
  .side-menu .ul-container {
    margin-top: 150px; }
    /* line 18, carpatianknights/news/static/scss/modules/_m-navigation.scss */
    .side-menu .ul-container .nav-item {
      display: flex;
      flex-direction: column;
      width: 100%;
      font-size: 24px;
      text-align: center; }
      /* line 25, carpatianknights/news/static/scss/modules/_m-navigation.scss */
      .side-menu .ul-container .nav-item a {
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        height: 50px;
        text-decoration: none;
        transition: all 0.8s;
        position: relative;
        overflow: hidden; }
        /* line 36, carpatianknights/news/static/scss/modules/_m-navigation.scss */
        .side-menu .ul-container .nav-item a span {
          position: absolute;
          margin: 0 auto;
          z-index: 10; }
        /* line 41, carpatianknights/news/static/scss/modules/_m-navigation.scss */
        .side-menu .ul-container .nav-item a::before {
          content: '';
          position: absolute;
          top: 50px;
          left: 0;
          right: 0;
          width: 0;
          height: 0;
          margin: 0 auto;
          border-left: 150px solid transparent;
          border-right: 150px solid transparent;
          border-bottom: 180px solid rgba(0, 77, 77, 0.25);
          z-index: 1;
          transition: all 0.5s; }
        /* line 57, carpatianknights/news/static/scss/modules/_m-navigation.scss */
        .side-menu .ul-container .nav-item a::after {
          content: '';
          position: absolute;
          top: 50px;
          left: 0;
          right: 0;
          width: 0;
          height: 0;
          margin: 0 auto;
          border-left: 150px solid transparent;
          border-right: 150px solid transparent;
          border-bottom: 180px solid rgba(0, 77, 77, 0.25);
          z-index: 1;
          transition: all 0.5s;
          transition-delay: 0.2s; }
        /* line 73, carpatianknights/news/static/scss/modules/_m-navigation.scss */
        .side-menu .ul-container .nav-item a:hover::before {
          opacity: 1;
          transform: translate(0px, -170px); }
        /* line 77, carpatianknights/news/static/scss/modules/_m-navigation.scss */
        .side-menu .ul-container .nav-item a:hover::after {
          opacity: 1;
          transform: translate(0px, -140px); }

/* line 85, carpatianknights/news/static/scss/modules/_m-navigation.scss */
.menu-open {
  left: 0;
  transition: 0.4s ease-in-out; }

/* line 89, carpatianknights/news/static/scss/modules/_m-navigation.scss */
.campground {
  width: 35px;
  height: 35px; }

/* line 1, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
.icons-container {
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  background-size: cover;
  position: relative; }
  /* line 12, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
  .icons-container .icons {
    position: absolute;
    width: 250px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center; }
    /* line 23, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
    .icons-container .icons img {
      width: 45px;
      height: 45px;
      z-index: 100;
      filter: grayscale(100%);
      transition: all 0.4s ease-in-out;
      position: relative; }
      /* line 31, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
      .icons-container .icons img:hover {
        filter: grayscale(0%);
        transition: all 0.4s ease-in-out; }
        /* line 35, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons img:hover ~ .hover-container .top-cone, .icons-container .icons img:hover ~ .hover-container .bottom-cone {
          transition: transform 0.4s ease-in-out; }
        /* line 40, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons img:hover ~ .spin-top .top-cone, .icons-container .icons img:hover ~ .spin-top .bottom-cone {
          transform: scale(0.7); }
        /* line 43, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons img:hover ~ .spin-top .top-cone {
          transform: scale(0.8); }
        /* line 48, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons img:hover ~ .spin-bottom .top-cone, .icons-container .icons img:hover ~ .spin-bottom .bottom-cone {
          transform: scale(1); }
        /* line 51, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons img:hover ~ .spin-bottom .top-cone {
          transform: scale(0.9); }
    /* line 57, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
    .icons-container .icons a {
      position: relative; }
      /* line 60, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
      .icons-container .icons a .hover-container {
        width: 56px;
        height: 80px;
        display: flex;
        position: absolute;
        top: -18px;
        left: -7px; }
        /* line 69, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons a .hover-container .top-cone {
          bottom: 0;
          right: 0;
          left: 0;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 28px solid transparent;
          border-right: 28px solid transparent;
          border-bottom: 40px solid #003A27;
          border-radius: 50%;
          opacity: .5;
          transform: scale(0);
          transition: transform 0.4s ease-in-out; }
        /* line 84, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons a .hover-container .bottom-cone {
          top: 0;
          right: 0;
          left: 0;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 28px solid transparent;
          border-right: 28px solid transparent;
          border-top: 40px solid #003A27;
          border-radius: 50%;
          opacity: .5;
          transform: scale(0);
          transition: transform 0.4s ease-in-out; }
      /* line 100, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
      .icons-container .icons a .spin-top {
        animation: spin-hover 3s infinite linear; }
      /* line 103, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
      .icons-container .icons a .spin-bottom {
        animation: spin-hover-reverse 5s infinite linear; }
        /* line 105, carpatianknights/news/static/scss/modules/_m-social-icons.scss */
        .icons-container .icons a .spin-bottom .top-cone, .icons-container .icons a .spin-bottom .bottom-cone {
          border-top-color: #003A27;
          border-bottom-color: #003A27; }

@keyframes spin-hover {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes spin-hover-reverse {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(-360deg); } }

/* line 1, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
.m-gallery-slider {
  padding: 25px 50px 150px 50px;
  margin: 0 auto;
  height: 600px;
  background-color: #e0e0e0;
  will-change: opacity;
  transition: opacity .4s ease-in-out;
  /* General styles */
  /* Navigation item styles */ }
  /* line 8, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider img {
    width: 450px;
    height: 450px;
    object-fit: cover; }
  @media screen and (min-width: 1400px) {
    /* line 15, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
    .m-gallery-slider .ant-carousel {
      max-width: 1350px; } }
  @media screen and (min-width: 950px) and (max-width: 1400px) {
    /* line 21, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
    .m-gallery-slider .ant-carousel {
      max-width: 900px; } }
  @media screen and (max-width: 950px) {
    /* line 27, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
    .m-gallery-slider .ant-carousel {
      max-width: 450px; } }
  /* line 32, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider .ant-carousel {
    margin: 50px auto auto; }
  /* line 36, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider .ant-carousel-element {
    text-align: center; }
  /* line 41, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider .ant-carousel {
    width: auto;
    position: relative; }
  /* line 46, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider .ant-carousel-hider {
    overflow: hidden; }
  /* line 50, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider .ant-carousel-list {
    width: auto;
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: flex-start; }
  /* line 59, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider .ant-carousel-element {
    display: block;
    flex: 0 0 auto; }
  /* line 65, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider div.ant-carousel-arrow-left,
  .m-gallery-slider div.ant-carousel-arrow-right {
    width: 22px;
    height: 40px;
    position: absolute;
    cursor: pointer;
    opacity: 0.6;
    z-index: 32; }
  /* line 75, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider div.ant-carousel-arrow-left {
    left: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-left.png") no-repeat; }
  /* line 82, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider div.ant-carousel-arrow-right {
    right: -40px;
    top: 40%;
    display: block;
    background: url("http://pvbk.spb.ru/inc/carousel/ant-files/ant-arrow-right.png") no-repeat; }
  /* line 89, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider div.ant-carousel-arrow-left:hover {
    opacity: 1.0; }
  /* line 93, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider div.ant-carousel-arrow-right:hover {
    opacity: 1.0; }
  /* line 97, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider div.ant-carousel-dots {
    width: 100%;
    height: auto;
    position: absolute;
    left: 0;
    bottom: -30px;
    z-index: 30;
    text-align: center; }
  /* line 107, carpatianknights/news/static/scss/modules/_m-gallery-slider.scss */
  .m-gallery-slider span.ant-dot {
    width: 10px;
    height: 10px;
    margin: 5px 7px;
    padding: 0;
    display: inline-block;
    background-color: #BBB;
    border-radius: 5px;
    cursor: pointer; }

/* line 2, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
.hamburger-container {
  position: fixed;
  top: 50px;
  left: 50px;
  z-index: 1000; }

/* line 9, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
.text-center {
  text-align: center; }

/* line 13, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
.hamburger {
  width: 30px;
  height: 30px;
  position: relative;
  transform: rotate(0deg);
  transition: 0.5s;
  cursor: pointer;
  z-index: 1000; }
  /* line 22, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
  .hamburger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background-color: white;
    border-radius: 3px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out; }
    /* line 35, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
    .hamburger span:nth-child(1) {
      top: 0px; }
    /* line 39, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
    .hamburger span:nth-child(2) {
      top: 10px; }
    /* line 43, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
    .hamburger span:nth-child(3) {
      top: 20px; }

/* line 49, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
.hamburger.open span:nth-child(1) {
  top: 10px;
  transform: rotate(135deg); }

/* line 54, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
.hamburger.open span:nth-child(2) {
  opacity: 0;
  left: -60px; }

/* line 59, carpatianknights/news/static/scss/modules/_m-hamburger.scss */
.hamburger.open span:nth-child(3) {
  top: 10px;
  transform: rotate(-135deg); }

/* line 1, carpatianknights/news/static/scss/layouts/_l-about-us.scss */
.about-us {
  padding: 50px 15px;
  background-color: #e0e0e0; }
  /* line 4, carpatianknights/news/static/scss/layouts/_l-about-us.scss */
  .about-us h2 {
    color: #004d4d; }
  /* line 8, carpatianknights/news/static/scss/layouts/_l-about-us.scss */
  .about-us p {
    max-width: 75vmax;
    margin: 0 auto 25px auto; }

/* line 1, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  padding-top: 100px; }
  /* line 13, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(0.8);
    margin-bottom: 150px; }
    @media screen and (max-width: 480px) {
      /* line 13, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
      .header-banner .img-container {
        transform: scale(0.65); } }
    /* line 23, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
    .header-banner .img-container img {
      position: absolute; }
    /* line 26, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
    .header-banner .img-container .static {
      width: 100px;
      height: 100px; }
    /* line 30, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
    .header-banner .img-container .spin {
      width: 350px;
      height: 350px;
      padding-bottom: 90px;
      overflow: visible;
      animation-name: spin;
      animation-duration: 25000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear; }
  /* line 42, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner h2 {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center; }
  /* line 48, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner .text-container {
    width: 100%;
    height: 150px;
    position: relative; }
    /* line 55, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
    .header-banner .text-container .front-text {
      font-size: 28px;
      font-weight: 400;
      z-index: 1; }
      @media screen and (max-width: 768px) {
        /* line 55, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
        .header-banner .text-container .front-text {
          font-size: 20px; } }
      @media screen and (max-width: 575px) {
        /* line 55, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
        .header-banner .text-container .front-text {
          font-size: 18px; } }
    /* line 67, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
    .header-banner .text-container .back-text {
      color: #004d4d;
      top: -140px;
      height: 125px;
      font-size: 125px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 5px;
      opacity: 0.6; }
      @media screen and (max-width: 768px) {
        /* line 67, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
        .header-banner .text-container .back-text {
          font-size: 90px;
          top: -90px; } }
      @media screen and (max-width: 768px) {
        /* line 67, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
        .header-banner .text-container .back-text {
          font-size: 52px;
          top: -50px; } }
  /* line 88, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner .arrow {
    position: absolute;
    top: 80vh; }
  /* line 92, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner .arrow span {
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite; }
  /* line 102, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner .arrow span:nth-child(2) {
    animation-delay: -0.2s; }
  /* line 105, carpatianknights/news/static/scss/layouts/_l-header-banner.scss */
  .header-banner .arrow span:nth-child(3) {
    animation-delay: -0.4s; }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

@keyframes animate {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px); }
  50% {
    opacity: 1; }
  100% {
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px); } }

/* line 1, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
.news-container {
  width: 100vw;
  min-height: 100vh;
  background-size: cover;
  padding-top: 100px; }
  /* line 7, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
  .news-container h2 {
    margin: 0;
    text-align: center;
    color: white;
    font-size: 42px; }
  /* line 14, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
  .news-container .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  /* line 19, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
  .news-container .news-card-container {
    flex-basis: 33%;
    height: 250px;
    margin: 0 30px 50px;
    transition: opacity .4s ease-in-out; }
  /* line 27, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
  .news-container .news-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    padding: 30px;
    color: #404040;
    background-color: white;
    transition: background-color .4s ease-in-out, color .4s ease-in-out;
    position: relative; }
    /* line 38, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card .title {
      font-size: 18px;
      font-weight: bold; }
    /* line 42, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card .news-date {
      position: absolute;
      top: -20px;
      right: -20px;
      color: white;
      padding: 15px 30px;
      background-color: #292929;
      transition: background-color .4s ease-in-out, color .4s ease-in-out; }
    /* line 51, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card .describe-block {
      height: 250px;
      overflow: hidden; }
    /* line 55, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card button {
      position: absolute;
      width: 100px;
      height: 40px;
      bottom: -15px;
      left: -20px;
      color: white;
      background-color: #292929;
      transition: background-color .4s ease-in-out, color .4s ease-in-out; }
    /* line 65, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card picture {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      border: 3px solid rgba(0, 0, 0, 0.6); }
      /* line 71, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
      .news-container .news-card picture img {
        max-width: 250px; }
  /* line 78, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
  .news-container .news-card-open {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    width: 75vw;
    height: 75vh;
    animation: expand 1s;
    opacity: 1;
    transition: all .4s ease-in-out;
    z-index: 10;
    color: white;
    background-color: #292929; }
    /* line 93, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card-open .describe-block {
      height: unset;
      overflow: visible; }
    /* line 97, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card-open .news-date {
      color: #292929;
      background-color: white;
      transition: background-color .4s ease-in-out, color .4s ease-in-out; }
    /* line 102, carpatianknights/news/static/scss/layouts/_l-news-block.scss */
    .news-container .news-card-open button {
      width: 150px;
      height: 50px;
      font-size: 22px;
      color: #292929;
      background-color: white;
      transition: background-color .4s ease-in-out, color .4s ease-in-out; }

@keyframes expand {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* line 1, carpatianknights/news/static/scss/layouts/_l-rules-list.scss */
.rules-container {
  width: 100vw;
  height: auto;
  background-repeat: no-repeat;
  background-image: url("/images/rules-bg.jpg");
  background-size: cover;
  position: relative;
  padding: 0; }
  /* line 11, carpatianknights/news/static/scss/layouts/_l-rules-list.scss */
  .rules-container .rules-list {
    width: 75vw;
    margin: 0 auto;
    counter-reset: numbers; }
    /* line 16, carpatianknights/news/static/scss/layouts/_l-rules-list.scss */
    .rules-container .rules-list .list-item {
      display: flex;
      align-items: center;
      height: 64px;
      position: relative;
      padding-left: 80px;
      margin-bottom: 30px;
      list-style: outside none none;
      font-size: 18px;
      color: white;
      border-radius: 32px;
      background-color: rgba(0, 0, 0, 0.5); }
      /* line 28, carpatianknights/news/static/scss/layouts/_l-rules-list.scss */
      .rules-container .rules-list .list-item::before {
        content: counter(numbers, decimal-leading-zero);
        counter-increment: numbers;
        font-size: 32px;
        width: 64px;
        height: 64px;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        border-radius: 50%;
        background-color: rgba(0, 77, 77, 0.5); }

/* line 1, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
.active-tours-container {
  width: 100vw;
  min-height: 100vh;
  background: url("/images/tours-bg.jpg") no-repeat center fixed;
  background-size: cover;
  padding: 100px 0; }

/* line 9, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
.tour-card {
  height: 300px;
  background: rgba(21, 21, 21, 0.7);
  color: white;
  padding: 30px;
  margin: 30px 0;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out; }
  /* line 19, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
  .tour-card .progressbar-container {
    width: 75%;
    height: 10px;
    transform: skew(-25deg);
    background: rgba(255, 255, 255, 0.4); }
    /* line 25, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
    .tour-card .progressbar-container .progressbar-progress {
      background-color: rgba(255, 255, 255, 0.5) !important; }
  /* line 30, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
  .tour-card button {
    position: absolute;
    top: 300px;
    z-index: 2; }
    /* line 35, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
    .tour-card button .fontawesome_icon {
      display: None; }
    /* line 39, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
    .tour-card button .fontawesome_icon_active {
      display: block; }

/* line 44, carpatianknights/news/static/scss/layouts/_l-active-tours.scss */
.expanded {
  min-height: 300px;
  height: 100%;
  transition: all 0.5s ease-in-out; }

/* line 1, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
.person-block {
  width: 100vw;
  height: 100%;
  background: url("/images/team-bg.jpg") no-repeat center fixed;
  background-size: cover;
  position: relative;
  padding: 17vh 0; }
  /* line 9, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block::before {
    content: '';
    position: absolute;
    top: 0;
    height: 20px;
    border-left: 100vw solid rgba(0, 0, 0, 0.7);
    border-bottom: 15vh solid transparent; }
  /* line 17, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block::after {
    content: '';
    position: absolute;
    bottom: 0;
    height: 20px;
    border-right: 100vw solid rgba(0, 0, 0, 0.7);
    border-top: 15vh solid transparent; }
  /* line 26, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block h2 {
    position: absolute;
    text-align: center;
    color: white;
    top: 30px;
    left: 0;
    right: 0;
    margin: 0 auto; }
  /* line 35, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block h3 {
    color: white;
    font-size: 22px;
    text-align: center;
    margin: auto;
    padding-top: 20px; }
  /* line 42, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block span {
    width: 100%;
    display: flex;
    justify-content: center;
    color: white;
    text-align: center;
    margin: auto; }
  /* line 50, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block p {
    color: white;
    padding: 10px; }
  /* line 55, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
  .person-block .container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-around; }
    /* line 60, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
    .person-block .container img {
      width: 50%;
      height: 50%;
      object-fit: cover;
      border-radius: 5px; }
    /* line 66, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
    .person-block .container .card {
      width: 25%;
      background: rgba(0, 0, 0, 0.5);
      border-radius: 10px; }
      /* line 70, carpatianknights/news/static/scss/layouts/_l-person-block.scss */
      .person-block .container .card .header {
        display: flex; }
