{% extends "base.html" %}
{% load static %}

{% block header_content %}
        <div class="headers-container"><h2>{% block title %}{% endblock %}</h2></div>
{% endblock %}

{% block content %}

    {% if messages %}
        <div class="alert alert-danger alert-dismissible fade show margin-err" role="alert">
            {% for message in messages %}
                <div class="{{ message.tags }} text-center fs-4">
                    {{ message|safe }}
                </div>
            {% endfor %}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>

    {% endif %}
    {% if form.errors %}
        <div class="alert alert-danger alert-dismissible fade show margin-err" role="alert">
            <div class="text-center fs-4">
                {{ form.errors }}
            </div>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" onclick="closeALert(this)"></button>
        </div>
    {% endif %}
    <div id="account_content">
        {% block account_content %}
        {% endblock %}
    </div>
{% endblock %}
