{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="headers-container"><h2>{% block title %}{% endblock %}</h2>
    </div>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li class="{{ message.tags }}">
                    {{ message|safe }}
                </li>
            {% endfor %}
        </ul>
    {% endif %}
    <div id="account_content">
        {% block account_content %}
        {% endblock %}
    </div>
{% endblock %}
