{% extends "base.html" %}
{% load static %}
{% load news_tags %}

{% block title %}
    {{ post.title }}
{% endblock %}

{% block content %}

    <div class="news-detail-container">
        <div class="container">
            <h1 class="text-center ">{{ post.title }}</h1>
            <p class="date">Опубліковано: {{ post.publish|date:'d.m.Y' }}. Автор - {{ post.author.first_name }} {{ post.author.last_name }}</p>
            {{ post.body|markdown }}
            <div class="row gy-4 justify-content-center" id="lightgallery">
                {% for post_photo in post.photos.all %}
                    <a class="col-lg-4 col-md-6 col-sm-12" href="{{ post_photo.image.url }}">
                        <img class="img-fluid" src="{{ post_photo.image.url }}" alt="">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>


{% endblock %}

{% block include_content %}
    {% include 'shared/_back_arrow.html' %}
{% endblock %}

{#    {% with comments.count as total_comments %}#}
{#        <h2>{{ total_comments }} comment{{ total_comments|pluralize }}</h2>#}
{#    {% endwith %}#}
{#    {% for comment in comments %}#}
{#        <div class="comment">#}
{#            <p class="info">#}
{#                Comment {{ forloop.counter }} by {{ comment.name }}#}
{#                {{ comment.created }}#}
{#            </p>#}
{#            {{ comment.body|linebreaks }}#}
{#        </div>#}
{#    {% empty %}#}
{#        <p>There are no comments yet.</p>#}
{#    {% endfor %}#}
{#    {% if new_comment %}#}
{#        <h2>Your comment has been added.</h2>#}
{#    {% else %}#}
{#        <h2>Add a new comment</h2>#}
{#        <form action="." method="post">#}
{#            {{ comment_form.as_p }}#}
{#            {% csrf_token %}#}
{#            <p><input type="submit" value="Add comment"></p>#}
{#        </form>#}
{#    {% endif %}#}
{#    {{ similar_posts.as_p }}#}