{% extends "base.html" %}
{% load news_tags %}
{% load widget_tweaks %}

{% block content %}
    <div class="headers-container"><h2>Новини</h2></div>
    <div>
        <div class="news-container">
            <div class="container mb-5">
                {% if tag %}
                    <h2>Новини з тегом - "{{ tag.name }}"</h2>
                {% endif %}
            </div>
            <div class="container mb-5">
                <form class="row row-cols-lg-auto g-3 align-items-end filter-form-container">
                    <div class="col-12">
                        <label class="col-12 col-form-label text-center" for="{{ post_filter.form.name.id_for_label }}">Заголовок
                            містить</label>
                        {% render_field post_filter.form.name class+="form-control" %}
                    </div>
                    <div class="col-12">
                        <label class="col-12 col-form-label text-center"
                               for="{{ post_filter.form.start_date.id_for_label }}">Дата більше</label>
                        {% render_field post_filter.form.start_date class+="form-control" type="date" %}
                    </div>
                    <div class="col-12">
                        <label class="col-12 col-form-label text-center"
                               for="{{ post_filter.form.end_date.id_for_label }}">Дата менше</label>
                        {% render_field post_filter.form.end_date class+="form-control" type="date" %}
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-secondary w-100">Застосувати</button>
                    </div>

                </form>
            </div>
            <div class="container">
                <div class="row gy-5 justify-content-center mb-5">
                    {% for post in posts %}
                        <div class="col-lg-5 col-md-12 col-sm-12 mx-lg-3">
                            <div class="news-card">
                                <p class="title">{{ post.title|truncatechars:35 }}</p>
                                <span class="news-date">{{ post.publish|date:"d-m-Y" }}</span>
                                <div class="describe-block">
                                    {{ post.body|markdown|truncatewords_html:45 }}
                                    <p class="text-dark">{{ post.author }}</p>
                                </div>
                                <div class="news-tag-container">
                                    Tags:
                                    {% for tag in post.tags.all %}
                                        <a class="news-tag" href="{% url 'news:post_list_by_tag' tag.slug %}">
                                            {{ tag.name }}
                                        </a>
                                        {% if not forloop.last %}{% endif %}
                                    {% endfor %}
                                </div>
                                <a id="{{ post.id }}" class="btn button-news" href="{{ post.get_absolute_url }}">Детальніше</a>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>

    {% include "pagination.html" with page=posts %}
    <script>
    </script>
{% endblock %}