{% extends "news/../../../front/../../../front_end/templates/base.html" %}
{% load active_tour_tags %}
{% load static %}
{% load fontawesome %}
{% block content %}
<div class="headers-container"><h2>Активні походи</h2></div>
<div class="active-tours-container">
    {% for active_tour in active_tour_list %}
        <div class="tour-card">
            <h3>{{ active_tour.routes_id.name }}</h3>
            <p>Глава походу: {{ active_tour.leader }}</p>
            <span>Дата початку: {{ active_tour.start_day|date:"d-m-Y" }} </span>
            <span>Дата закінчення: {{ active_tour.stop_day|date:"d-m-Y" }} </span>
            {% comment %} <!-- {/*<div className="bar" style={{width: "100px"}}></div>*/} --> {% endcomment %}
            <p>Сладність: {{ active_tour.routes_id.complexity }}</p>
            {% comment %} <progress value="{{ active_tour.routes_id.complexity }}"></progres> {% endcomment %}
            <div class="active_tour_description">{{ active_tour.routes_id.short_description|markdown }}</div>
            <div class="active_tour_image">
                {% for tour_image in active_tour.routes_id.photos.all %}
                    <img src="{{ tour_image.image.url }}" alt="">
                {% endfor %}
            </div>
            {% fontawesome_stylesheet %}
            <button class="button_active_tour" >
                <span class="fontawesome_icon fontawesome_icon_active">
                    {% fontawesome_icon 'angle-down' large=True %}
                </span>
                <span class="fontawesome_icon">
                    {% fontawesome_icon 'angle-up' large=True %}
                </span>
            </button>
            <button class="button_register">
                <a class="href_register" href="#">Зареєструватися в похід</a>
            </button>
        </div>

    {% endfor %}
</div>

{% endblock %}