{% extends "news/../../../front/../../../front_end/templates/base.html" %}
{% load news_tags %}
{% block title %}{{ route.name }}{% endblock %}
{% block content %}
    <h1>{{ route.name }}</h1>
    <p>Сладність: {{ route.complexity }}</p>
    <div class="active_tour_description">{{ route.description|markdown }}</div>
    <div class="active_tour_image">
        {% for route_image in route.photos.all %}
            <img src="{{ route_image.image.url }}" alt="">
        {% endfor %}
    </div>


{% endblock %}