{% extends "base.html" %}
{% load news_tags %}

{% block title %}
    {{ route.name }}
{% endblock %}

{% block content %}
    <div class="route-detail-container">
        <div class="container">
            <h1 class="text-center title-background-lg">{{ route.name }}</h1>
            <p>Сладність: {{ route.complexity }}</p>
            {{ route.description|markdown }}
            <div class="row gy-4 justify-content-center" id="lightgallery">
                {% for route_image in route.photos.all %}
                    <a class="col-lg-4 col-md-6 col-sm-12" href="{{ route_image.image.url }}">
                        <img class="img-fluid" src="{{ route_image.image.url }}" alt="">
                    </a>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}

{% block include_content %}
    {% include 'shared/_back_arrow.html' %}
    {% include 'shared/_title-background.html' %}
{% endblock %}