.icons-container {
  width: 100vw;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  //background: url("../../images/banner-bg.jpg") fixed;
  //background: transparent;
  background-size: cover;
  position: relative;

  .icons {
    position: absolute;
    width: 250px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
      width: 45px;
      height: 45px;
      z-index: 100;
      filter: grayscale(100%);
      transition: all 0.4s ease-in-out;
      position: relative;

      &:hover {
        filter: grayscale(0%);
        transition: all 0.4s ease-in-out;
        ~.hover-container {
          .top-cone, .bottom-cone {
            transition: transform 0.4s ease-in-out;
          }
        }
        ~.spin-top {
          .top-cone, .bottom-cone {
            transform: scale(0.7);
          }
          .top-cone {
            transform: scale(0.8);
          }
        }
        ~.spin-bottom {
          .top-cone, .bottom-cone {
            transform: scale(1);
          }
          .top-cone {
            transform: scale(0.9);
          }
        }
      }
    }
    a {
      position: relative;

      .hover-container {
        width: 56px;
        height: 80px;
        display: flex;
        position: absolute;
        top: -18px;
        left: -7px;
        //transform: scale(.5);

        .top-cone {
          bottom: 0;
          right: 0;
          left: 0;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 28px solid transparent;
          border-right: 28px solid transparent;
          border-bottom: 40px solid $green-color-dark;
          border-radius: 50%;
          opacity: .5;
          transform: scale(0);
          transition: transform 0.4s ease-in-out;
        }
        .bottom-cone {
          top: 0;
          right: 0;
          left: 0;
          position: absolute;
          width: 0;
          height: 0;
          border-left: 28px solid transparent;
          border-right: 28px solid transparent;
          border-top: 40px solid $green-color-dark;
          border-radius: 50%;
          opacity: .5;
          transform: scale(0);
          transition: transform 0.4s ease-in-out;
        }
      }
      .spin-top {
        animation: spin-hover 3s infinite linear;
      }
      .spin-bottom {
        animation: spin-hover-reverse 5s infinite linear;
        .top-cone, .bottom-cone {
          border-top-color: $green-color-dark;
          border-bottom-color: $green-color-dark;
        }
      }
    }
  }
}
@keyframes spin-hover {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes spin-hover-reverse {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(-360deg);
  }
}