.header-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  padding-top: 100px;

  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transform: scale(0.8);
    margin-bottom: 150px;
    @media screen and (max-width: 480px) {
      transform: scale(0.65);
    }
    img {
      position: absolute;
    }
    .static {
      width: 100px;
      height: 100px;
    }
    .spin {
      width: 350px;
      height: 350px;
      padding-bottom: 90px;
      overflow: visible;
      animation-name: spin;
      animation-duration: 25000ms;
      animation-iteration-count: infinite;
      animation-timing-function: linear;
    }
  }

  h2 {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
  }
  .text-container {
    width: 100%;
    height: 150px;
    position: relative;


    .front-text {
      font-size: 28px;
      font-weight: 400;
      z-index: 1;
      @media screen and (max-width: 768px){
        font-size: 20px;
      }
      @media screen and (max-width: 575px){
        font-size: 18px;
      }
    }

    .back-text {
      color: #004d4d;
      top: -140px;
      height: 125px;
      font-size: 125px;
      font-weight: 900;
      text-transform: uppercase;
      letter-spacing: 5px;
      opacity: 0.6;
      @media screen and (max-width: 768px){
        font-size: 90px;
        top: -90px;
      }
      @media screen and (max-width: 768px){
        font-size: 52px;
        top: -50px;
      }
    }
  }

  // Thanks for animation https://codepen.io/raf187/pen/BvgGRQ
  .arrow {
    position: absolute;
    top: 80vh;
  }
  .arrow span{
    display: block;
    width: 25px;
    height: 25px;
    border-bottom: 4px solid #fff;
    border-right: 4px solid #fff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
  }
  .arrow span:nth-child(2) {
    animation-delay: -0.2s;
  }
  .arrow span:nth-child(3) {
    animation-delay: -0.4s;
  }

}

@keyframes spin {
  from {
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

@keyframes animate {
  0%{
    opacity: 0;
    transform: rotate(45deg) translate(-20px,-20px);
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px,20px);
  }
}
