<section class="about-us">
    <div class="container">
        <div class="row">
            <div class="col">

                <h2 class="text-center text-white h-title"><span>Про нас</span></h2>

                <p class="text-justify text-white">Вас вітають Карпатські Відчайдухи! Територія вільних людей, закоханих в
                    гори. Запрошуємо вас
                    приєднатись до нашої спільноти та вирушити з нами в незабутню подорож карпатськими стежками у
                    відповідності з актуальними маршрутами, ознайомитись з якими, а також з історією попередніх походів,
                    актуальними новинами та планами можна перейшовши у відповідний розділ. Приєднуйтесь до нас у
                    соцмережах, або ж зв'язуйтесь напряму за телефоном +380982584602 чи на поштову скриньку carpatianknights@gmail.com</p>
            </div>
        </div>
    </div>
</section>
