{% load static %}

<section class="header-banner">
    <div class="img-container">
        <img class="spin" src="{% static 'images/triangle.svg' %}" alt="KV"/>
        <img class="static" src="{% static 'images/circle.svg' %}" alt="circle"/>
    </div>
    <div class="text-container">
        <h2 class="front-text">Відкрий для себе неймовірну подорож</h2>
        <h2 class="back-text">Відкрий</h2>
    </div>

    <div class="arrow">
        <span></span>
        <span></span>
        <span></span>
    </div>
</section>
