{% load static %}

<section class="l-our-partners">
    <div class="container">
        <div class="row">
            <div class="col d-flex justify-content-between">

                <h2 class="h-title right"><span>Наші</span> партнери</h2>

                <a href="">
                    <img src='{% static "images/logo/logo-moussonx.png" %}' alt=""/>
                </a>

                <a href="">
                    <img src="{% static "images/logo/logo-moussonx.png" %}" alt=""/>
                </a>

                <a href="">
                    <img src="{% static "images/logo/logo-moussonx.png" %}" alt=""/>
                </a>
            </div>
        </div>
    </div>
</section>
