{% load static %}

<article class="icons-container">
    <div class="icons">
        <a href="https://t.me/carpatianknights">
            <img src="{% static 'images/telegram.svg' %}" alt="Telegram"/>
            <span class="hover-container spin-top">
                <span class="top-cone"></span>
                <span class="bottom-cone"></span>
            </span>
            <span class="hover-container spin-bottom">
                <span class="top-cone"></span>
                <span class="bottom-cone"></span>
            </span>
        </a>
        <a href="https://www.facebook.com/carpatianknights">
            <img src="{% static 'images/facebook.svg' %}" alt="Facebook"/>
            <span class="hover-container spin-top">
                <span class="top-cone"></span>
                <span class="bottom-cone"></span>
            </span>
            <span class="hover-container spin-bottom">
                <span class="top-cone"></span>
                <span class="bottom-cone"></span>
            </span>
        </a>
        <a href="https://www.instagram.com/explore/tags/carpatianknights/">
            <img src="{% static 'images/instagram.svg' %}" alt="Instagram"/>
            <span class="hover-container spin-top">
                <span class="top-cone"></span>
                <span class="bottom-cone"></span>
            </span>
            <span class="hover-container spin-bottom">
                <span class="top-cone"></span>
                <span class="bottom-cone"></span>
            </span>
        </a>
{#        <a href="https://youtu.be/G1IbRujko-A">#}
{#            <img src="{% static 'images/youtube.svg' %}" alt="Youtube"/>#}
{#            <span class="hover-container spin-top">#}
{#                <span class="top-cone"></span>#}
{#                <span class="bottom-cone"></span>#}
{#            </span>#}
{#            <span class="hover-container spin-bottom">#}
{#                <span class="top-cone"></span>#}
{#                <span class="bottom-cone"></span>#}
{#            </span>#}
{#        </a>#}
    </div>
</article>