<!DOCTYPE html>
{% load static %}
<html>

<meta name="viewport" content="width=device-width, initial-scale=1">

<head>
    <title>{% block title %}Carpatianknights{% endblock %}</title>
    <link type="image/x-icon" rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
    <link type="text/css" href="{% static 'index.css' %}" rel="stylesheet">
</head>
<body>
<div class="container-wrapper">

    {% include 'shared/_header.html' %}

    <div class="perspective-container">
        <main class="main">
            {% block content %}{% endblock %}
        </main>
    </div>

    <div class="hamburger-container">
        <div class="hamburger">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
    <nav class="side-menu">
        <ul class="ul-container">
            <li class="nav-item">
                <a class="active" href="/">
                </a>
            </li>
            <li class="nav-item">
                <a href="/news"><span>Новини</span></a>
            </li>

            <li class="nav-item">
                <a href="/route"><span>Наші маршрути</span></a>
            </li>
            <li class="nav-item">
                <a href="/route/active_tours"><span>Актуальні походи</span></a>
            </li>
            <li class="nav-item">
                <a href="/account"><span>Особистий кабінет</span></a>
            </li>
        </ul>
    </nav>

    {% include 'shared/_footer.html' %}

</div>
<script type="text/javascript" src="{% static 'script/index.js' %}"></script>
</body>
</html>
