@import "../utilities/colors";

.headers-container {
  position: relative;
  width: 100vw;
  height: 10vh;
  background-color: $main-bg-color;
  display: flex;
  justify-content: center;
  align-content: center;

  ::after {
    content: '';
    position: absolute;
    bottom: -5vh;
    left: 0;
    border-bottom: 5vh solid transparent;
    border-left: 100vw solid $main-bg-color;
  }

  h2 {
    color: white;
    margin-top: 30px;
  }
}

@media only screen and (max-width: 600px) {
  header {
    display: none !important;
  }
}